@import url(https://fonts.googleapis.com/css?family=Raleway);
  body {
    max-width: 1400px;
    font-family: "Raleway", sans-serif;
  }
  /* POLICES */
  a {
    text-decoration: none;
    color: black
  }
  i {
    color: #0065FC;
  }
  ::placeholder, .searchbar i {
    color: black;
    opacity: 1;
  }
  ul {
    list-style-type: none;
  }
  h1, h4 {
    font-size: calc(0.7vw + 0.7em);
  }
  h2, nav a, .infobar p, h5, footer li {
    font-size: calc(0.525vw + 0.5em);
  }
  form, input, button, h3, .more {
    font-size: calc(0.5vw + 0.65em);
  }
  main li {
    font-size: calc(0.5vw + 0.59em);
  }
  .hotels p {
    font-size: calc(0.45vw + 0.45em);
  }
  /* HEADER */
  header {
    display: flex;
    justify-content: space-between;
  }
  nav {
    display: flex;
    justify-content: space-between;
    gap: 5em;
  }
  header img {
    height: 1.5em;
  }
  /* PREMIERE PARTIE DU MAIN */
  /* BARRE DE RECHERCHE */
  form {
    display: flex;
  }
  .searchbar i {
    background-color: #F2F2F2;
    padding: 1em 1.125em;
    border-radius: 15px 0 0 15px;
  }
  input {
    padding: 0.7em;
    border: 1px solid #F2F2F2;
  }
  button span {
    color: white;
  }
  form :last-of-type i {
    display: none;
  }
  button {
    background-color: #0065FC;
    padding: 0.7em 1em;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
  }
  /* FILTRES */
  .filterbar {
    display: flex;
  }
  .filterbar ul {
    display: flex;
    padding-left: 1.5em;
    margin: auto;
    gap: 2.5em;
    width: 95%;
  }
  .filterbar i {
    margin: 0.25em;
  }
  li span {
    border: 2px solid #D9D9D9;
    border-radius: 20px;
    padding: 0.5em 1em 0.5em 0.5em;
  }
  li span:hover {
    background-color: #deebff;
  }
  /* BARRE INFO */
  .infobar {
    display: flex;
  }
  .infobar span {
    height: auto;
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    padding: 0.25em;
  }
  .infobar i {
    height: 0.45em;
    padding: 0.5em 0.65em 0.5em 0.65em;
  }
  .infobar p {
    margin: 0;
    align-self: center;
  }