@import url(https://fonts.googleapis.com/css?family=Raleway);
  body {
    max-width: 1400px;
    font-family: "Raleway", sans-serif;
  }
  /* POLICES */
  a {
    text-decoration: none;
    color: black
  }
  i {
    color: #0065FC;
  }
  ::placeholder, .searchbar i {
    color: black;
    opacity: 1;
  }
  ul {
    list-style-type: none;
  }
  h1, h4 {
    font-size: 1.375em;
  }
  h2, nav a, .infobar p, h5, footer li {
    font-size: 1em;
  }
  form, input, button, h3, .more {
    font-size: calc(0.5vw + 0.65em);
  }
  main li {
    font-size: 1.063em;
  }
  .hotels p {
    font-size: 0.875em;
  }
  /* HEADER */
  header {
    display: flex;
    justify-content: space-between;
  }
  nav {
    display: flex;
    justify-content: space-between;
    gap: 5em;
  }
  header img {
    height: 1.5em;
  }
  /* PREMIERE PARTIE DU MAIN */
  form {
    display: flex;
    max-width: 32%;
  }
  .searchbar i {
    background-color: #F2F2F2;
    padding: 1em 1.125em;
    border-radius: 15px 0 0 15px;
  }
  input {
    padding: 0.7em;
    border: 1px solid #F2F2F2;
  }
  button span {
    color: white;
  }
  form :last-of-type i {
    display: none;
  }
  button {
    background-color: #0065FC;
    padding: 0.7em 1em;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
  }