@import url(https://fonts.googleapis.com/css?family=Raleway);
  body {
    max-width: 1400px;
    font-family: "Raleway", sans-serif;
  }
  /* POLICES */
  a {
    text-decoration: none;
    color: black
  }
  i {
    color: #0065FC;
  }
  ul {
    list-style-type: none;
  }
  h1, h4 {
    font-size: 1.375em;
  }
  h2, nav a, .infobar p, h5, footer li {
    font-size: 1em;
  }
  form, input, button, h3, .more {
    font-size: 1.125em;
  }
  main li {
    font-size: 1.063em;
  }
  .hotels p {
    font-size: 0.875em;
  }