@import url(https://fonts.googleapis.com/css?family=Raleway);
  body {
    width: 100%;
    font-family: "Raleway", sans-serif;
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    font-size: 16px;
    font-weight: lighter;
    color: black;
  }
  ul {
    list-style-type: none;
  }
  h1,h4 {
    font-weight: bold;
    font-size: 22px;
  }
  h2 {
    font-weight: normal;
    font-size: 16px;
  }
  h3 {
    font-weight: bold;
    font-size: 18px;
  }
  h5 {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
  }
  i {
    color: #0065FC;
  }
  p {
    margin: 0;
  }
  ::placeholder {
    color: black;
  }
  .score_container {
    margin: 0;
    width: 68px;
    height: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .top_container {
    margin: 126px 0px 46px 55px;
  }
  /* HEADER */
  header {
    margin: 44px 77px 53px 55px;
  }
  header img {
    width: 61.09px;
    height: 19px;
    object-fit: contain;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav {
    margin-top: 2px;
    gap: 67px;
    display: flex;
  }
  .anchor_hebergements {
    width: 113px;
  }
  .anchor_activites {
    width: 67px;
  }
  nav a span {
    padding-top: 44px;
    border-top: 2px solid transparent;
    padding-left: 24.5px;
    padding-right: 24.5px;
  }
  nav a span:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
  }
  /* MAIN-SEARCHBAR */
  .searchbar {
    display: flex;
    align-items: center;
  }
  form {
    width: 322px;
    height: 49px;
    display: flex;
  }
  .searchbar i {
    color: black;
    background-color: #f2f2f2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding: 18px 18px 16px 15px;
  }
  .searchbar input {
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    border: 1px solid #F2F2F2;
    padding: 17px 0px 14px 14px;
  }
  .searchbar button {
    background-color: #0065FC;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 14px 14px 16px 16px;
    color: white;
  }
  /* FILTERBAR */
  .filterbar {
    width: 914px;
    height: 50px;
    align-items: center;
    font-weight: bold;
    margin-left: 62px;
    margin-bottom: 53px;
    display: flex;
  }
  main ul {
    display: flex;
    flex-direction: row ;
    gap: 40px;
  }
  li span {
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 14px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .filter_1 {
    gap: 14.56px;
  }
  li span:hover {
    background-color: #DEEBFF;
  }
  main li {
    font-size: 17px;
  }
  .infobar {
    width: 447px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    margin-left: 49px;
    margin-bottom: 37px;
  }
  .infobar span{
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    display: flex;
    align-items: center;
  }
  .infobar i {
    padding: 7px 7px 10px 10px;
  }
  /* CARDS */
  .hotels {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 50px;
    margin-bottom: 60px;
  }
  img {
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }
  .booki {
    border-radius: 0;
  }
  .score_container i:last-of-type {
    color: #F2F2F2;
  }
  /* SECTION */
  section {
    background-color: #F2F2F2;
    border: 10px solid #F2F2F2;
    border-radius: 20px;
  }
  .hotel_images {
    border: 5px solid #FFFFFF;
  }
  /* HEBERGEMENTS */
  .hebergements {
    width: 880px;
    height: 626px;
    padding-left: 40px;
  }
  .hebergements h4 {
    padding-bottom: 23px;
  }
  .hebergements h3 {
    padding-left: 4px;
    padding-top: 40px;
  }
  .hebergements_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .card {
    width: 246px;
    height: 199px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  .card img {
    height: 114px;
  }
  .card_info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 11px;
    padding-left: 16px;
    gap: 9px;
  }
  /* POPULAIRES */
  .popular {
    width: 420px;
    height: 625px;
  }
  .popular_cards {
    display: flex;
    flex-direction: column;
    gap: 33px;
    padding-left: 37px;
    padding-right: 40px;
  }
  .card_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 37px;
    padding-right: 40px;
  }
  .popular_card {
    width: 343px;
    height: 144px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  .popular_card_info {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-top: 16px;
    gap: 7px;
    padding-bottom: 12px;
  }
  .popular_card_info .score_container {
    padding-top: 44px;
    width: 68px;
    height: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .popular_card img {
    width: 137px;
    height: 134px;
    border-radius: 20px 0px 0px 20px;
  }
  /* ACTIVITES */
  .activites {
    background-color: white ;
    margin-left: 50px;
    margin-bottom: 61px;
  }
  .activites_cards {
    display: flex;
    flex-direction: row;
    gap: 43px;
  }
  .activites_card {
    width: 302px;
    height: 445px;
    background-color: white;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  .activites img {
    width: 302px;
    height: 389px;
  }
  .activites_card_info {
    padding-top: 20px;
    padding-left: 19px;
    align-items: center;
  }
  .activites_card_info2 {
    padding-top: 20px;
    padding-left: 19px;
    align-items: center;
  }
  /* FOOTER */
  footer {
    width: 1339px;
    height: 225px;
    background-color: #F2F2F2;
    margin-left: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 82px;
  }
  footer ul {
    margin-bottom: 20px;
    padding: 0;
  }
  footer li {
    margin-bottom: 12px;
  }
  .footer_links {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
  }
  @media only screen and (min-width:768px) and (max-width:992px) {
    body {
      width: 100%;
      height: 2076px;
    }
    .hotels {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 53px;
    }
    .popular {
      width: 883px;
      height: 278px;
    }
    .card_title {
      display: flex;
    }
    .popular .score_container {
      padding: 0;
    }
    .popular h5 {
      font-size: 14px;
    }
    .popular_card_info {
      padding: 0;
    }
    .popular_card_info p:first-of-type {
      font-size: 14px;
    }
    .popular p {
      font-size: 13px;
    }
    .popular_cards {
      display: flex;
      flex-direction: row;
    }
    .popular_card {
      width: 252px;
      height: 144px;
    }
    .popular_cards img {
      width: 106px;
    }
    .activites {
      width: 880px;
    }
    .activites_card {
      width: 182px;
      height: 267px;
    }
    .activites_cards img {
      width: 182px;
      height: 211px;
      object-fit: cover;
    }
    .activites_card_info {
      padding-top: 20px;
      padding-left: 19px;
    }
    .activites_card_info2 {
      padding-top: 9px;
    }
    .notre-dame {
      width: 125px;
    }
    footer {
      width: 879.65px;
      height: 225px;
    }
  }
  @media only screen and (max-width:768px) {
    body {
      width: 100%;
      height: 4113px;
    }
    header {
      margin: 21px 65px 0px 33px;
      width: 298px;
      gap: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .top_container {
      margin: 31px 57px 34px 20px;
      width: 298px;
    }
    .filterbar {
      width: auto;
      margin-left: 20px;
      margin-bottom: 0;
      gap: 15px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: auto;
      align-items: baseline;
      padding-bottom: 40px;
    }
    .filterbar ul {
      width: 400px;
      display: flex;
      row-gap: 17px;
      flex-direction: row;
      flex-wrap: wrap;
      padding-left: 20px;
    }
    .filterbar li {
      width: 160px;
      height: 50px;
      font-size: 11px;
      font-weight: bold;
    }
    .infobar {
      width: auto;
      height: auto;
      gap: 21px;
      margin-left: 20px;
      margin-bottom: 17px;
      justify-content: flex-start;
    }
    .infobar p {
      width: 298px;
      height: 57px;
    }
    .hotels {
      display: flex;
      flex-direction: column-reverse;
      margin: 0;
      gap: 0;
      width: auto;
      height: auto;
      padding-bottom: 105px;
    }
    .popular {
      border: 0;
      border-radius: 0px;
      margin: 0;
    }
    .hebergements {
      height: auto;
      background-color: #FFFFFF;
      border: 0;
      margin: 0;
      padding-left: 20px;
    }
    .card {
      width: 335px;
      height: 199px;
    }
    .hebergements_cards {
      flex-direction: column;
    }
    .more {
      color: transparent;
      height: 0;
      margin: 0;
      padding: 0;
    }
    .activites {
      margin: 0;
      padding-left: 22px;
      padding-bottom: 80px;
    }
    .activites_title {
      width: 106px;
    }
    .activites_cards {
      flex-direction: column;
    }
    .activites_cards img {
      width: 334px;
      height: 134px;
      border: 0;
    }
    .activites_card {
      width: 334px;
      height: 190px;
      border: 0;
    }
    footer {
      width: 377px;
      height: 501px;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 0;
    }
    footer ul {
      margin: 0;
    }
    .footer_links {
      margin-top: 0;
      margin-left: 30px;
    }
  }