@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
}
main {
  padding: 0 50px;
}
a {
  text-decoration: none;
  color: black;
}
nav {
  font-weight: 400;
  font-size: 16px;
}
h1 {
  font-size: 22px;
  font-weight: 700;
}
h2 {
  font-size: 16px;
  font-weight: 400;
}
p {
  font-size: 18px;
  font-weight: 700;
}
h3 {
  font-weight: 700;
  font-size: 22px;
}
button {
  font-size: 17px;
  font-weight: 700;
}
button i {
  color: #0065FC;
}
h4 {
  font-size: 18px;
  font-weight: 700;
}
.card_caption {
  font-weight: 700;
  font-size: 16px;
}
li {
  font-weight: 400;
  font-size: 16px;
}
/* NAVBAR */
.booki {
  width: 67.09px;
  height: 19px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 44px;
  padding-bottom: 67.9px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
}
#item1 {
  padding-left: 55px;
}
#item2 {
  padding-right: 67px;
}
#item3 {
  padding-right: 77px;
}
/* MAIN */
h1 {
  margin-bottom: 8px;
}
h2 {
  margin-bottom: 34px;
}
/* SEARCHBAR */
.searchbar {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  width: 332px;
  height: 49px;
  align-items: center;
}
.button i {
  width: 14px;
  height: 18px;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: #f2f2f2;
  border-style: solid;
  border-color: #f2f2f2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.searchbox input{
  background-color: #ffffff;
  width: 332px;
  height: 49px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 17px;
  font-weight: 700;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-color: #f2f2f2;
}
.searchbutton input {
  width: 132px;
  height: 49px;
  left: 341px;
  top: 200px;
  background-color: #0065FC;
  border-style: solid;
  border-color: #0065FC;
  border-radius: 0px 15px 15px 0px;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}
/* FILTRES */
.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}
.filters ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
}
.filters li {
  font-family: 'Raleway';
  font-size: 17px;
  font-weight: 700;
  padding: 10px;
  border-style: solid;
  border-radius: 25px;
  border-width: 2px;
  border-color: #d9d9d9;
}
.filters i {
color: #0065FC;
}
.filters #filter_1 {
 padding-right: 87px;
}
.filters #filter_2 {
  padding-right: 80px;
 }
.filters #filter_3 {
  padding-right: 76px;
 }
/* CARDS */

.card {
  border: 5px #ffffff;
  border-radius: 20px 20px 0px 0px;
}
.card img {
  width: 246px;
  height: 124px;
}
.card2 img {
  width: 137px;
  height: 144px;
}